<ngx-guided-tour></ngx-guided-tour>
<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<h1 style="margin-left: 32px;" tabindex="0" aria-label="Streaming every new content..">Streaming...</h1>
<ng-image-slider [images]="imgCollection" #nav></ng-image-slider>
<h1 class="heading" style="margin-left: 32px;">Movies and TV Shows</h1>
<div class="card-outer-div">
    <ng-container *ngFor="let item of media">
        <div *ngIf="searchText==='' || item.name?.toLocaleLowerCase()?.includes(searchText.toLocaleLowerCase()) || item.actors?.toLocaleLowerCase()?.includes(searchText.toLocaleLowerCase())" fxFlex="17%" fxFlex.xs="75%" fxFlex.sm="30%" class="card-design">
            <mat-card class="example-card">
        <img id="stepTen" mat-card-image src="{{item.thumbnail}}" alt="Photo of {{item.name}}" (click)="PlayMedia(item.id||-1)" tabindex="0">
                <div style="display: flex;flex-direction: row;">
                    <mat-card-content>
                        <mat-card-title tabindex="0">{{item.name}}</mat-card-title>
                    </mat-card-content>
                    <mat-card-actions>
                        <button id="stepTwelve" mat-icon-button color="warn" aria-label="Focused on remove from favourite"
                            *ngIf="IsFavouriteMedia(item.id ?? -999)" (click)="deleteFavourite(item.id ?? -999)">
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <button id="stepEleven" mat-icon-button aria-label="Focused on add to favourite"
                            *ngIf="!IsFavouriteMedia(item.id ?? -999)" (click)="addFavourite(item.id ?? -999)">
                            <mat-icon>favorite_border</mat-icon>
                        </button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </ng-container>
</div>
<hr>
<h1 class="heading" style="margin-left: 32px;" tabindex="0" aria-label="Songs section started">Songs</h1>
<!-- Songs -->
<div class="card-outer-div">
    <ng-container *ngFor="let item of mySong">
        <div *ngIf="searchText==='' || item.name?.toLocaleLowerCase()?.includes(searchText.toLocaleLowerCase()) || item.singers?.toLocaleLowerCase()?.includes(searchText.toLocaleLowerCase())" fxFlex="17%" fxFlex.xs="75%" fxFlex.sm="30%" class="card-design">
            <mat-card class="example-card">
        <img mat-card-image src="{{item.thumbnail}}" alt="Photo of {{item.name}}" (click)="PlaySong(item.songsId||-1)" tabindex="0">
                <div style="display: flex;flex-direction: row;">
                    <mat-card-content>
                        <mat-card-title tabindex="0">{{item.name}}</mat-card-title>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button color="warn" aria-label="Focused on remove from favourite song"
                            *ngIf="IsFavouriteSong(item.songsId ?? -999)" (click)="deleteFavSong(item.songsId ?? -999)">
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Focused on add to favourite song"
                            *ngIf="!IsFavouriteSong(item.songsId ?? -999)" (click)="AddFavSong(item.songsId ?? -999)">
                            <mat-icon>favorite_border</mat-icon>
                        </button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </ng-container>
</div>
