<div class="form-div">
    <form [formGroup]="SongForm" class="form-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Edit Song</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="rowPass">
                    <div>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" formControlName="name" [(ngModel)]="songForm.name">
                            <mat-hint *ngIf="name.errors?.['required'] && (name.touched || name.dirty)">Name is
                                required</mat-hint>
                            <mat-hint *ngIf="name.errors?.['minlength']">Name is too short</mat-hint>

                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Singers</mat-label>
                        <input matInput placeholder="Singers" formControlName="singers" [(ngModel)]="songForm.singers">
                        <mat-hint *ngIf="singers.errors?.['required'] && (singers.touched || singers.dirty)">Singers are
                            required</mat-hint>

                    </mat-form-field>
                </div>

                <div class="rowPass">
                    <div>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Composer</mat-label>
                            <input type="text" matInput placeholder="composer" formControlName="composer"
                                [(ngModel)]="songForm.composer">
                            <mat-hint
                                *ngIf="composer.errors?.['required'] && (composer.dirty || composer.touched)">Name is
                                required</mat-hint>
                            <mat-hint
                                *ngIf="composer.errors?.['minlength'] || composer.errors?.['maxlength'] && (composer.dirty || composer.touched)">Minimum
                                length is 6</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Lyrics</mat-label>
                        <input type="text" matInput placeholder="lyrics" formControlName="lyrics"
                            [(ngModel)]="songForm.lyrics">
                        <mat-hint
                            *ngIf="lyrics.errors?.['required'] && (composer.dirty || composer.touched)">Lyrics are
                            required</mat-hint>
                        <mat-hint
                            *ngIf="lyrics.errors?.['minlength'] || composer.errors?.['maxlength'] && (composer.dirty || composer.touched)">Minimum
                            length is 6</mat-hint>
                    </mat-form-field>
                </div>
                <div class="rowPass">
                    <div>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Choose Release date</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="Year" formControlName="year"
                                [(ngModel)]="songForm.year">

                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>

                            <mat-hint *ngIf="year.errors?.['required'] && (year.dirty || year.touched)">Year is
                                required</mat-hint>

                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Select Genre</mat-label>
                        <mat-select formControlName="genreId" [(ngModel)]="songForm.genreId">
                            <mat-option value=11>Rock</mat-option>
                            <mat-option value=12>Hip-Hop</mat-option>
                            <mat-option value=13>Jazz</mat-option>
                            <mat-option value=14>EDM</mat-option>
                            <mat-option value=5>Romantic</mat-option>
                            <mat-option value=15>Sad</mat-option>

                        </mat-select>
                        <mat-hint *ngIf="genreId.errors?.['required'] && (genreId.dirty || genreId.touched)">Please
                            choose genre</mat-hint>
                    </mat-form-field>
                </div>

                

            <div>
                <label>Thumbnail</label>
                <input type="file" accept=".jpg" (change)="onFileSelected($event)">
                <button (click)="uploadImage()">Upload</button>
            </div>
            <br>
            <div>
                <label>Song Video: </label>
                <input type="file" accept=".mp4" (change)="onFileSelected($event)">
                <button (click)="uploadFile()">Upload</button>
            </div>
            <br>
            <mat-card-actions>
                <div class="buttons">
                    <button mat-raised-button color="primary" (click)="update()"
                        [disabled]="SongForm.invalid">Submit</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
        </mat-card>
    </form>
</div>
<router-outlet></router-outlet>